{% extends 'base.html.twig' %}

{% block body %}
{% if admin|default(false) %}
<a class="button red" href="{{ path('profile_admin', {'userid' : profile.id}) }}">Als Admin bearbeiten</a>
{% endif %}
<h1>{{ profile.name }}</h1>
<p>{{ profile.description|nl2br }}</p>
<br>
<a class="button" href="{{ path('homepage') }}">Zurück</a>

{% if(message_sent) %}
<p class="notification">Nachricht erfolgreich gesendet.</p>
{% else %}
{{ form_start(contact) }}

    {{ form_errors(contact) }}
    
    <div>
        
        {% if not loggedIn %}
            {{ form_label(contact.name, 'Deine Name') }}
            <small>Der Vorname reicht.</small>
            {{ form_errors(contact.name) }}
            {{ form_widget(contact.name) }}
            {{ form_label(contact.email, 'Deine E-Mail-Adresse') }}
            <small>Damit sich {{ profile.name }} bei dir melden kann.</small>
            {{ form_errors(contact.email) }}
            {{ form_widget(contact.email) }}
            {{ form_label(contact.message, 'Nachricht an ' ~ profile.name) }}
        {% else %}
            {{ form_label(contact.message, 'Sende eine Nachricht an ' ~ profile.name) }}
            <small>Deine E-Mail-Adresse und dein Steckbrief werden an {{ profile.name }} mitgesendet.</small>
        {% endif %}
        {{ form_errors(contact.message) }}
        {{ form_widget(contact.message) }}
    </div>

{{ form_widget(contact) }}
{{ form_end(contact) }}

{% endif %}
{% endblock %}
