<h3>Nachricht von {{ message.name }}</h3>

<p>Hallo {{ profile.name }}! {{ message.name }} hat auf deinen Steckbrief geantwortet:</p>

<p style="background-color: #85de90; padding: 1em">{{ message.message|nl2br }}</p>

<p>{{ message.name }} hat selbst keinen Steckbrief, aber kann dich kontaktieren, weil du deinen Steckbrief öffentlich sichtbar gemacht hast.</p>

<p>Du kannst direkt auf dieses E-mail antworten um {{ message.name }} zu kontaktieren.</p>

<p>Viel Freude beim Teilen deines Ernteanteils.</p>

<p>PS: Vergiss nicht deinen Steckbrief wieder zu löschen, wenn du ihn nicht mehr brauchst. Das kannst du hier tun: <a href="{{ url('login', {'key': profile.loginKey }) }}?redirect={{ path( 'profile_delete' )}}">Steckbrief löschen</a>.</p>
